$org: #ffa616;
$dark: #000;
$white: #fff;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,900&display=swap');
@import url(//db.onlinewebfonts.com/c/013bc3f20021c3221eeb427f1f3929f4?family=Gotham+Pro);

html {
    width: 100%;
    overflow-x: hidden;

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $dark;
    // background-color: rgb(233, 233, 233);

    .card,
    .card-header,
    .card-body {
        padding: 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }

    .container {
        max-width: 1440px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none !important;
    }


    .navBar {
        margin-top: 20px;
        position: absolute;
        z-index: 2;
        width: 100%;
        top: 0;
        left: 0;

        .row {
            padding: 20px 30px;
            background-color: #615b5a6e;
            border-radius: 20px;
            backdrop-filter: blur(50px);

            ul {
                li {
                    transition: all .3s ease-in-out;

                    a {
                        color: $white;
                        font-weight: 600;
                        transition: all .3s ease-in-out;

                        &:hover {
                            color: $org;
                        }
                    }

                    &:hover {
                        transform: scale(1.4);

                        text-shadow:
                            0px 5px 10px rgba(218, 127, 52, 0.788),
                            0px 15px 40px rgba(204, 141, 23, 0.842);
                    }
                }
            }

            .myBtn {
                background-color: $org;
                color: $dark;
                padding: 15px 50px;
                border-radius: 20px;
                font-weight: 500;
                font-size: 20px;
                transition: all .5s ease-in-out;
                outline: none;
                border: 1px solid $org;

                &:hover {
                    background-color: $white;
                    border: 1px solid $org;
                    color: $org;
                    transform: scale(1.1);

                    box-shadow:
                        0px 5px 10px rgba(218, 127, 52, 0.788),
                        0px 15px 40px rgba(204, 141, 23, 0.842);
                }
            }
        }
    }

    .header {
        background-image: url('../image/header-bg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-attachment: fixed;
        color: $white;
        text-align: center;
        padding-top: 600px;
        position: relative;
        margin-top: 60px;
        z-index: 1;

        h1 {
            font-weight: 900;
            font-size: 70px;
        }

        h3 {
            margin-bottom: 50px;
        }

        .myBtn {
            background-color: $org;
            color: $dark;
            padding: 20px 50px;
            border-radius: 20px;
            font-size: 30px;
            font-weight: 600;
            transition: all .5s ease-in-out;
            outline: none;
            border: 1px solid $org;
            text-transform: uppercase;

            &:hover {
                background-color: $white;
                border: 1px solid $org;
                color: $org;

                box-shadow:
                    0px 5px 10px rgba(218, 127, 52, 0.788),
                    0px 15px 40px rgba(204, 141, 23, 0.842);
            }
        }
    }

    .services {
        padding: 120px 0 120px 0;

        .img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0.7;
        }

        h2 {
            color: $org;
            font-weight: 900;
            font-size: 40px;
        }

        .services-bt {
            margin-top: 60px;

            .card {
                padding: 20px;
                background: $org;
                color: $white;
                padding-bottom: 0;
                transition: all .5s ease-in-out;
                border-radius: 20px;

                p {
                    margin: 15px 0;
                }

                h5 {
                    margin-bottom: 15px;
                    transition: all .3s ease-in-out;
                }

                .card-header {
                    img {
                        width: 100%;
                    }
                }

                .card-body {
                    .srv-btn {
                        padding: 25px;
                        width: 20px;
                        height: 20px;
                        background-color: #222;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translate(50px, 25px);
                        transition: all .3s ease-in-out;

                        img {
                            width: 10px;
                        }

                    }
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow:
                        0px 5px 10px rgba(218, 127, 52, 0.788),
                        0px 5px 20px rgba(204, 141, 23, 0.842);

                    h5 {
                        color: $dark;
                    }

                    .srv-btn {
                        transform: translate(125px, 25px);
                    }
                }
            }
        }

    }

    .zed {
        z-index: 999;
    }

    .montaj {
        padding: 0 0 120px 0;

        background-image: url('../image/man-woman-factory.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 600px;
        background-repeat: repeat-x;
        position: relative;
        background-size: 100% 600px;


        .zed {
            text-align: center;
            position: inherit;

            h2 {
                font-size: 35px;
                font-weight: 600;
                color: $org;
                margin-top: 200px;
            }

            h1 {
                font-size: 50px;
                font-weight: 900;
                color: $white;
                margin: 25px 0 15px 0;
            }

            p {
                color: $white;
                font-size: 20px;
            }

            .myBtns {
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);

                .myBtn {
                    background-color: $org;
                    color: $white;
                    padding: 30px 60px;
                    border-radius: 20px;
                    font-weight: 800;
                    font-size: 23px;
                    transition: all .5s ease-in-out;
                    outline: none;
                    border: 1px solid $org;
                    margin-right: 20px;
                    letter-spacing: 1px;
                    text-transform: uppercase;

                    &:hover {
                        background-color: $white;
                        border: 1px solid $org;
                        color: $org;
                        transform: scale(1.1);

                        box-shadow:
                            0px 5px 10px rgba(218, 127, 52, 0.788),
                            0px 5px 10px rgba(204, 141, 23, 0.842);
                    }
                }
            }


        }

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000044;
            height: 600px;

        }

    }

    .builder {
        padding: 150px 0 120px 0;

        .left {
            position: relative;

            .top-sphere {
                position: absolute;
                width: 600px;
                height: 600px;
                top: 0;
                left: 0;
                animation: anim1 10s linear infinite;
                border-radius: 50%;
                z-index: -1;

                div {
                    width: 60px;
                    height: 60px;
                    background-color: $org;
                    border-radius: 50%;
                }
            }

            .bottom-sphere {
                position: absolute;
                width: 800px;
                height: 800px;
                top: 0;
                left: 0;
                animation: anim2 10s linear infinite;
                border-radius: 50%;
                z-index: -1;

                div {
                    width: 160px;
                    height: 160px;
                    background-color: $org;
                    border-radius: 50%;
                }
            }

            @keyframes anim1 {
                0% {
                    transform: rotate(360deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }

            @keyframes anim2 {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }


        }

        .right {
            color: $org;
            margin-bottom: 200px;

            .right-q {
                font-size: 100px;
                font-family: "Gotham Pro";
                padding-bottom: 0;
                transform: translateY(-50px);
                opacity: 0.5;
            }

            .right-ql {
                font-size: 100px;
                font-family: "Gotham Pro";
                padding-bottom: 0;
                transform: translateY(100px) rotate(180deg);
                opacity: 0.5;
            }

            .right-r {
                margin-top: 50px;

                :nth-child(1) {
                    margin: 0 0 40px 0;
                    font-size: 20px;
                }

                :nth-child(2) {
                    font-size: 21px;
                    font-weight: 500;
                }
            }
        }



    }

    .feedback {
        padding: 0px 0 120px 0;

        .text-center {
            .img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.7;
            }

            h2 {
                color: $org;
                font-weight: 900;
                font-size: 40px;
            }
        }

        .col-12 {
            overflow-x: hidden;
            padding: 30px 0;
        }

        .swiper {
            overflow: visible;
        }

        .swiper-slide {
            background-color: $org;
            margin-top: 50px;
            border-radius: 20px;

            .img {
                width: 150px;
                border: 10px solid #ffcc78;
                height: 150px;
                margin: 0 auto;
                background-color: #000;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-77px);

                img {
                    width: 70%;
                    text-align: center;
                }
            }

            .info {
                width: 60%;
                margin: 0 auto;
                text-align: center;
                color: $white;
                font-size: 20px;
                padding-bottom: 100px;
            }
        }
    }

    .footer {
        padding: 100px 0 120px 0;
        background-image: url('../image/silhouette-group-worker-civil-engineer-safety-uniform-install-reinforced-steel.png');
        background-repeat: no-repeat;
        width: 100%;
        height: 420px;
        background-size: 100% 420px;
        color: $white;

        .footer-input {
            position: relative;
            width: 80%;
            display: flex;
            margin-top: 25px;
            user-select: none;

            input {
                padding-left: 75px;
                font-size: 20px;
                color: $dark;
                outline: none;
                border: none;
                padding: 25px 0px 25px 75px;
                background-color: #70655A;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &::placeholder {
                    color: $dark;
                }


                &:focus {
                    box-shadow: 0px 0px 5px 3px #ffa616;
                    outline: none;
                    border: none;
                }
            }

            label {
                position: absolute;
                color: $dark;
                top: 20%;
                font-size: 20px;
                left: 13px;
            }

            .btn {
                color: $org;
                background: $white;
                font-weight: 500;
                width: 130px;
                text-transform: uppercase;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                &:focus {
                    box-shadow: 0px 0px 5px 3px #ffa616;
                    outline: none;
                    border: none;
                }
            }
        }

        a {
            color: $white;
            transition: all .3s ease-in-out;
            display: inline-block;

            &:hover {
                color: $org;
                text-shadow:
                    0px 5px 10px rgba(218, 127, 52, 0.788),
                    0px 15px 40px rgba(204, 141, 23, 0.842);
                transform: scale(1.1);
            }
        }



        .row {
            :nth-child(1) {
                h2 {
                    font-weight: 700;
                }

                .icons {
                    margin: 25px 0;
                    display: flex;
                    align-items: center;

                    a {
                        margin-right: 20px;
                        background-color: #70655A;
                        border-radius: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        transition: all .3s ease-in-out;




                        &:hover {
                            background-color: $org;
                            transform: scale(1.1);

                            box-shadow: 0px 5px 10px rgba(218, 127, 52, 0.788),
                            0px 15px 40px rgba(204, 141, 23, 0.842);
                        }
                    }
                }

                ul {
                    li {
                        margin: 10px 0;
                    }
                }
            }

            :nth-child(2) {
                h2 {
                    font-weight: 700;
                }

                ul {
                    margin-top: 25px;

                    li {
                        margin: 10px 0;
                    }
                }

            }

            :nth-child(3) {
                h2 {
                    font-weight: 700;
                }

                a {
                    padding-left: 15px;
                }

                .phone-call {
                    margin-top: 25px;
                }

                .location-footer {
                    display: flex;
                    align-items: center;
                }


            }
        }

    }

    .last-bottom {
        padding: 30px 0;
        color: $white;

        a {
            color: $org;
            transition: all .3s ease-in-out;

            &:hover {
                transform: scale(1.1);
                display: inline-block;
                text-shadow:
                    0px 5px 10px rgba(218, 127, 52, 0.788),
                    0px 15px 40px rgba(204, 141, 23, 0.842);
                margin-left: 10px;
            }
        }
    }
















}